%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/lightbox.css")
    %link(rel="stylesheet" href="/css/app.css")
    %script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  %body
    .container
      =yield

    %script(src="/js/lightbox.js")
    %script(src="http://w.sharethis.com/button/buttons.js")
    :javascript
      stLight.options({publisher: "0c141c98-1c3d-4657-b70b-f5bc9337e504", doNotHash: false, doNotCopy: false, hashAddressBar: false});
